* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
}


/* importation des polices */

@font-face {
    font-family: 'rajdhani';
    src: url(Police/rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: 'rajdhani-bold';
    src: url(Police/rajdhani/Rajdhani-Bold.ttf);
}

@font-face {
    font-family: 'rajdhani-Medium';
    src: url(Police/rajdhani/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'Space Grotesk-regular';
    src: url(Police/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: 'Space Grotesk-bold';
    src: url(Police/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'rajdhani-semibold';
    src: url(Police/rajdhani/Rajdhani-SemiBold.ttf);
}

.bg-header-home {
    background-image: url(Illustrations/Bathome1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 75%;
    width: 100%;
    height: 901px;
}

.bordure {
    position: absolute;
    top: 0;
    left: 102px;
    right: 102px;
    border: 3px solid #76646145;
    border-bottom: none;
    border-top: none;
    height: auto;
}

nav {
    border-bottom: 4px solid #76646162;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 30px 80px;
}

.nav-link {
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

ul {
    display: flex;
    align-items: center;
}

li a {
    text-align: center;
    padding: 0px 0px 0px 50px;
    color: white;
    font-family: 'rajdhani';
    letter-spacing: 2px;
}

.active,
li a:hover {
    text-decoration: underline;
    font-family: 'rajdhani-bold';
    text-decoration-thickness: from-font;
    text-underline-position: under;
}

nav img:hover,
aside img:hover {
    filter: invert(33%) sepia(100%) saturate(8);
}


/* aside */

aside {
    top: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
}


/* contenu header */

.grid {
    display: grid;
}

.grid img {
    justify-self: center;
    width: 6%;
}

.text-head {
    color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 700PX;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.text-head p {
    font-size: 22px;
    font-family: 'Space Grotesk-regular';
}

.text-head h1 {
    font-family: 'Space Grotesk-regular';
    margin-top: 20px;
}

.bouttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.bouttons a {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 90%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.534) 10%, rgb(219 5 5 / 32%) 90%);
    padding: 15px 40px 15px 40px;
    font-family: 'rajdhani-Medium';
}


/* contenu */

.bloc {
    color: white;
    /* background-color: blue; */
    margin-left: 80px;
    margin-top: 60px;
    margin-right: 80px;
    height: auto;
}

.bloc h1 {
    font-family: 'rajdhani-semibold';
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-synthesis: small-caps;
}

.bloc p {
    margin-bottom: 40px;
    width: 90%;
    text-align: justify;
    font-family: Space Grotesk-regular;
    font-size: 20px;
    color: #cfcfcf;
}

.gallery {
    font-family: rajdhani;
    text-align: center;
    width: 100%;
    display: flex;
    grid-gap: 54px;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.gallery-items {
    height: auto;
    display: grid;
}

.gallery-items img {
    width: 290px;
    transition: 0.300s;
    height: auto;
}

.gallery-items img:hover {
    transform: scale(110%);
    transition: 0.300s;
}

.desc {
    background-color: #0f0c0aed;
    width: 108%;
    justify-self: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #323837;
    position: relative;
    top: -63px;
}

.desc-text {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 10%, rgba(197, 0, 0, 0.2) 70%);
    width: 80%;
    height: auto;
    border-radius: 30px;
    padding: 15px;
    position: relative;
    right: 12px;
    font-family: rajdhani-semiBold;
    font-size: 12px;
}

.desc-text b {
    color: #d9b680;
    font-size: 8px;
    font-family: rajdhani!important;
    letter-spacing: 1px;
}

.form-ronde {
    background-color: rgb(0, 0, 0);
    width: 70px;
    border-radius: 35px;
    position: relative;
    left: 12px;
    z-index: 1;
}


/* footer */

.container {
    display: flex;
}

.foot {
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    font-family: 'rajdhani';
    color: #cfcfcf;
    font-size: 10px;
    text-align: center;
}

.foot a img {
    padding: 0 10px 0 10px;
}